@media print{
@page{
	margin:0mm 0mm 0mm 0mm;
}
#top,.jm{
	display:none;
}
.qr_code {
	page-break-inside:avoid;
	//display:block;
	margin:1px;
	float:left;
	border-style:solid;
	border-width:1mm;
}
.qr_code div{
	text-align:center;
	font-weight:bold;
	font-family:arial;
	font-size:13px;
	padding-bottom:5px;
	border-style:none;
}
.qr_code img{
	width:72mm;
	height:auto;
}
}
