@media screen{
/* plot related */
svg{
	fill:none;
	stroke:black;
	padding:10px;
}
/*.svg_div{
	padding:10px;
}
*/
.uptime{
	stroke:none;
	fill:#66cc00;
	opacity:0.5;
}
.vgrid,.hgrid{
	stroke:blue;
	stroke-width:0.1;
}
.dscn{
	stroke:red;
	stroke-width:0.1;
}
.we{
	stroke:none;
	fill:#ccc;
	opacity:0.5;
}
.trace{
	stroke-width:0.3;
}
.trace_data{
	stroke-width:0.3;
	stroke:orange;
}
.label{
	dominant-baseline:central;
	font-size:8px;
	stroke:none;
	fill:black;
}
.left_labels{
	text-anchor:end;
}
.right_labels{
	text-anchor:start;
}
.frame{
	stroke-width:0.5;
}
.on .frame{
	stroke-width:0.5;
	stroke:lime;
	stroke-opacity:1;
}
#left .on{
	background-color:#99ff33;
}

ul{
	list-style-type:none;
	padding-left:5px;
}
/* reports */

.report{
	padding:10px;
	margin:4px;
	border-bottom-style:solid;
	border-width:1px;
	border-color:grey;
}
a{
	text-decoration:none;
}
#wrap{
	margin:40px;		
}
#left{
	float:left;
	width:200px;
}
#main{
	float:left;
	width:500px;
	/*border-right-style:solid;
	border-width:1px;
	border-color:black;
	padding-right:40px;
	*/
}
#right{
	float:left;
}

#main_bottom{
	padding:10px;
}
#main_bottom textarea{
	width:100%;
	height:100px;
}
.hh{
}
.phone{
	margin-top:-10px;
	font-family:monospace;
}
.jm{
	padding-top:10px;
	border-top-style:solid;
	border-width:1px;
	border-color:grey;
}
h1{
	font-family:Verdana;
	font-size:18px;
	color:#33cc33;
}
h2{
	font-family:Verdana;
	font-size:13px;
	color:#33cc33;
}

.text{
	//background-color:#eeeeee;
	white-space:pre-wrap;
}
.time{
	padding:2px;
}
.sites{
	padding:2px;
	font-weight:bold;
}
/*
.report input{
}
.report .edit{
	float:right;
	padding:2px;
}
*/
body{
	font-family:arial;
	font-size:12px;
}
form{
	//background-color:green;
}
form td{
	font-size:10px;
}
form input,select{
	font-size:10px;
}
form textarea{
	width:300px;
}
a{
	text-decoration:none;
}
a:hover{
	color:#0f0;
}
.header{
	background-color:#ddd;
}
/*
 .jm{
	//width:165px;
	margin:2px;
	padding:1px;
	float:left;
	background-color:#eeeeee;
	//max-height:300px;
	//overflow:auto;
}

.jm ul{
	list-style-type:none;
	padding:1px;
	margin:1px;
}
.jm ul li{
	font-family:monospace;
}
.jm td{
	padding:0px;
}
.jm input{
	font-size:12px;
}
.jm select{
	font-size:12px;
}
.jm textarea{
	width:500px;	
	height:200px;
}
*/
#top{
	margin:2px;
	margin-bottom:6px;
}
#top form{
	display:inline;
}
#top input{	
	font-size:12px;
	width:5em;
	border:none;
	background-color:#eee;
}
.qr_code{
	display:none;
}
}
/*
@media print{
	#top,.jm{
		display:none;
	}
	.qr_code {
		background-color:#eee;
		margin:0.1mm;
		float:left;
		//width:300px;
		//height:300px;
		border-style:solid;
		border-width:0.1mm;
		display:block;
	}
	.qr_code div{
		text-align:center;
		position:absolute;
		margin-top:-30px;
		font-weight:bold;
		font-family:arial;
		font-size:10px;
	}
	.qr_code img{
		//padding:25px;
		width:250px;
		height:auto;
	}
}
*/
